*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(24,26,55);
}
h1{
     background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.Photo{
    text-align: center;
    border-radius: 50%;
    
   
    }
h2{
    color: white;
    text-align: center;
}
.pic{
    text-decoration:underline;
    color: white;
    text-align: center;
}
.sec{
    margin-left: 20px;
    color: white;
   font-size: 25px;
   font-style: inherit;
}
.tagline {
  
    margin-bottom: 30px;
      margin-left: 20px;
    color: rgb(235, 227, 11);
    text-align: right;
}
#a{
      background-color: rgb(24, 172, 56);
    color: white;
      height: 20px;
    text-align: center;
    width: 200px;
  margin-bottom: 20px;
}

.container{
    display: flex;
    gap: 60px;
}
#calculator{
    padding: 20px;
       background-color: rgb(27, 205, 205);
    color: rgb(232, 134, 15);
      height: 250px;
    text-align: center;
    width: 250px;
  margin-bottom: 20px;
}
.value{
    padding: 20px;
    font-style: normal;
    color: blue;
}
.new{
    padding: 10px;
    text-align: center;
    color: tomato;
}
.containe{
    margin-left: 20px;
    display: flex;
    gap: 200px;
}
#contact{
    color: white;
    padding-left:80px;
    font-size: larger;
}
#complete{
    padding: 20px;
    color: crimson;
}
.footer{
    background-color: black;
    text-align: center;
    color: white;
}
